/* ---------GOOGLE FONTS--------- */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* ---------VARIABLES CSS-------- */
:root{
    --header-height: 3rem;
    --nav-width: 324px;

    /* ---------FONT WEIGHT--------- */
    --font-mediun: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* ---------COLORS--------- */
    --first-color: #005b96;
    --first-color-dark: #03396c;
    --first-color-darken: #0A0A2A;
    --text-color: #F1C40F;
    --second-color: #B7950B;
    --first-color-light: #6497b1;
    --first-color-lighten: #EBF5FB;

    /* ---------FONT & TYPOGRAPHY--------- */
    --body-font: 'Noto Sans', sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* ---------MARGENES--------- */
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;

    /* --------- z-INDEX--------- */
    --z-fixed: 100;
}
@media screen and (min-width: 768px){
    :root{
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* ---------BASE--------- */
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-mediun);
    background-color: var(--first-color-lighten);
    color: var(--first-color-darken);
    line-height: 1.6;
}
h1,h2,h3,p{
    margin: 0;

}
h3{
    font-weight: var(--font-semi-bold);
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--first-color-darken);
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}

/* ----------CLASS CSS-------- */
.section{
    padding: 4rem 0 2rem;
}
.section-title{
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
    text-align: center;
}
.section-subtitle{
    display: block;
    font-size: var(--small-font-size);
    color: var(--first-color-darken);
    text-align: center;
    font-weight: var(--font-bold);
    margin-bottom: .25rem;
}

/* ----------LAYOUT-------- */
.bd-grind{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% -2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 10px;
    padding-right: 25px;
    z-index: var(--z-fixed);
    background-color: var(--first-color-lighten);
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

/* ----------NAVBAR-------- */
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__menu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 90%;
    height: 100vh;
    padding: 3rem;
    display: flex;
    align-items: center;
    background-color: var(--first-color-darken);
    transition: .5s;
}
.nav__close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: var(--first-color-lighten);
    cursor: pointer;
}
.nav__item{
    margin-bottom: var(--mb-4);
}
.nav__link{
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--first-color-lighten);
    font-weight: var(--font-bold);
    transform: .3s;
}
.nav__link:hover{
    color: var(--text-color);
}
.nav__toggle{
    color: var(--first-color-dark);
    font-size: 1.3rem;
    cursor: pointer;
}

/* ---------SHOW MENU-------- */
.show{
    left: 0;
}

/* ---------ACTIVE MENU-------- */
.active{
    color: var(--text-color);
}

/* ---------HOME-------- */
.home__container{
    height: calc(100vh - var(--header-height));
    align-items: center;
}
.home__data{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    text-align: center;
}
.home__img{
    padding-top: 1.3rem;
    padding-left: .8rem;
    width: 160px;
    height: 160px;
    background-color: var(--first-color-dark);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: var(--mb-2);
}
.home__img img{
    width: 155px;
    padding-right: 1.2rem; 
    padding-bottom: 20px;
}
.home__title{
    font-size: var(--h1-font-size);
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
}
.home__profession{
    font-size: var(--small-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
}
.home__social{
    margin-bottom: 5rem;
}
.home__social-link{
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    font-size: 2rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 var(--mb-1);
    transition: .3s;
}
.home__social-link:hover{
    background-color: var(--first-color-darken);
    color: var(--text-color);
}
.home__button{
    width: 100%;
}
/* ---------BUTTONS-------- */
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    border-radius: .5rem;
    transition: .3s;
}
.button:hover{
    background-color: var(--first-color-darken);
    color: var(--text-color);
}
.button__light{
    background-color: var(--first-color-lighten);
    color: var(--first-color);
}
.button__light:hover{
    color: var(--first-color-lighten);
}
/* ------------ABOUT---------- */
.about__container{
    row-gap: 2rem;
}
.about__data{
    text-align: center;
}
.about__description{
    margin-bottom: var(--mb-4);
    padding-left: 1rem;
    padding-right: 1rem;
}
.about__img{
    width: 150px;
    border-radius: .5rem;
    margin: 0 auto;
} 
.about__information{
    margin-top: var(--mb-4) ;
    margin-bottom: var(--mb-4);
    padding-right: 2rem;
}
.about__information-title{
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
    padding-left: 1rem;
}
.about__information-data{
    display: flex;
    align-items: center;
    padding-left: .5rem;
    margin-bottom: var(--mb-3);
}
.about__information-icon{
    font-size: 1.5rem;
    color: var(--second-color);
    margin-right: var(--mb-4);
    padding-left: 1.5rem;
}
.about__information-subtitle{
    display: block;
    font-weight: var(--font-semi-bold);
}
.about__information-subtitle-small{
    font-size: var(--small-font-size);
}
/* ------------SKILLS---------- */
.skills__container{
    row-gap: 2rem;
}
.skills__subtitle{
    display: flex;
    align-items: center;
    font-size: var(--h3-font-size);
    color: var(--first-color-dark);
    margin-bottom: var(--mb-2);
    margin-top: 4rem;
    padding-left: 1rem;
}
.skills__icon{
    font-size: var(--h2-font-size);
    color: var(--second-color);
    margin-right: var(--mb-2);
    padding-left: .5rem;
}
.skills__data{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 var(--mb-2);
    margin-bottom: var(--mb-4);
    padding-left: 4rem;
    padding-right: 4rem;
}
.skills__name{
    text-transform: uppercase;
} 
.skills__number{
    color: #B7950B;
    font-weight: var(--font-bold);
}
.skills__bar{
    position: absolute;
    bottom: -.75rem;
    height: .25rem;
    background-color: var(--first-color); 
}
.skills__html{
    width: 70%;
}
.skills__css{
    width: 70%;
}
.skills__js{
    width: 50%;
}
.skills__boot{
    width: 70%;
}
.skills__react{
    width: 60%;
}
.skills__vue{
    width: 15%;
}
.skills__java{
    width: 50%;
}
.skills__mysql{
    width: 25%;
}
.skills__mongo{
    width: 35%;
}
.skills__git{
    width: 30%;
}
.skills__fireb{
    width: 30%;
}
.skills__redux{
    width: 25%;
}
.skills__graph{
    width: 35%;
}
/* ------------SKILLS---------- */
.education__container{
    row-gap: 5rem;
}
.education__content{
    display: grid;
    padding-left: 5rem;
    padding-right: 5rem;
    grid-template-columns: 1fr max-content 1fr;
    padding-bottom: 1.5rem;
}
.education__year, .education__race{
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}
.education__race{
    color: var(--second-color);
}
.education__race:hover{
    color: var(--first-color-dark);
}
.education__uni, .education__speciality{
    display: block;
    font-size: var(--smaller-font-size);
}
.education__year, .education__uni{
    text-align: right;
}
.education__time{
    padding: 0 1rem;
    justify-self: center;
}
.education__rounder{
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--first-color);
    border-radius: 50%;
}
.education__rounder::before{
    content: '';
    position: absolute;
    transform: translate(-4px, -4px);
    width: 20px;
    height: 20px;
    border: 1px solid var(--first-color);
    border-radius: 50%;
}
.education__line{
    display: block;
    height: 90%;
    width: 2px;
    background-color: var(--first-color);
    transform: translate(5px, -4.7px);
}

/* ------------FOOTER---------- */
.footer{
    background-color: var(--first-color-dark);
    color: var(--first-color-lighten);
    text-align: center;
}
.footer__title img{
    /* font-size: var(--h1-font-size);
    margin-bottom: var(--mb-2); */
    width: 100px;
    height: 110px;
    display: inline-block;
}
.footer__description{
    margin-bottom: var(--mb-2);
}
.footer__social{
    margin-bottom: 3rem;
}
.footer__link{
    display: inline-flex;
    background-color: var(--first-color);
    color: var(--first-color-lighten);
    font-size: 2rem;
    border-radius: 50%;
    padding: .40rem;
    margin: 0 var(--mb-1);
    transition: .3s;
}
.footer__link:hover{
    background-color: var(--first-color-darken);
    color: var(--text-color);
}
.footer__copy{
    font-size: var(--smaller-font-size);
    color: var(--text-color);
} 
/* ------------MEDIA QUERIES---------- */
@media screen and (min-width: 768px){
    .home__button{
        width: initial;
    }
    .nav__menu{
        width: var(--nav-width);
    }
    .about__container, .skills__container{
        grid-template-columns: repeat(3,1fr);
    }
    .about__description{
        margin-bottom: var(--mb-5);
    }
    .about__img{
        width: 220px;
    }
    .about__information{
        padding-left: 4rem;
    }
    .education__container{
        padding-left: 4.5rem;
        
    }
    .contact__input{
        display: grid;
        width: 500px;
    }
    .contact__form{
        padding-left: 7rem;
    }
}
@media screen and (min-width: 1024px){
    body{
        margin: 0;
        padding-left: var(--nav-width);
    }
    .l-header{
        width: 0;
    }
    .nav__toggle, .nav__logo, .nav__close{
        display: none;
    }
    .nav__menu{
        left: 0;
    }
    .home__container{
        height: 100vh;
    }
    .section{
        padding: 3rem 0 2rem;
    }
    .bd-grind{
        margin-left: auto;
        margin-right: auto;
    }
    .contact__input{
        display: grid;
        width: 600px;
    }
    .contact__form{
        padding-left: 13rem;
    }
    .skills__container{
        padding-left: 4rem;
        padding-right: 4rem;
    }
}